body {
  margin: 0;
  text-align: center;
  font-family: Verdana;
  background-color: #f5f5f5
}
h1 {
  text-align: center
}
.container {
  margin: 0 auto;
  width: 90%
}
input[type="radio"] {
  display: none
}
label {
  float: left;
  margin: 0.5%;
  margin-bottom: 30px;
  padding: 0.5%;
  width: 23%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #222;
  cursor: pointer
}
input[type="radio"][id="men"]:checked + label {
  background-color: #66f
}
input[type="radio"][id="men"]:checked ~ .women,
input[type="radio"][id="men"]:checked ~ .children {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0
}
input[type="radio"][id="women"]:checked + label {
  background-color: #f46
}
input[type="radio"][id="women"]:checked ~ .men,
input[type="radio"][id="women"]:checked ~ .children {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0
}
input[type="radio"][id="children"]:checked + label {
  background-color: #6d9
}
input[type="radio"][id="children"]:checked ~ .men,
input[type="radio"][id="children"]:checked ~ .women {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0
}
.tile {
  width: 23%;
  float: left;
  transition: all 1s;
  margin: 0.5%;
  padding: 0.5%;
  background-color: #66f
}
.tile img {
  width: 100%
}