* {
	margin: 0;
	padding: 0
}
.container {
	margin: 0 auto;
	width: 1080px
}
img {
	float: left;
	margin: 10px;
	width: 250px;
	height: 266px
}
/* grayscale灰度 */
.grayscale {
	-webkit-filter: grayscale(1)
}
/* 褐色 */
.sepia {
	-webkit-filter: sepia(1)
}
/* saturate饱和度 */
.saturate {
	-webkit-filter: saturate(0.5)
}
/* hue-rotate色相旋转 */
.hue-rotate {
	-webkit-filter: hue-rotate(90deg)
}
/* invert反色 */
.invert {
	-webkit-filter: invert(1)
}
/* opacity透明度 */
.opacity {
	-webkit-filter: opacity(.2)
}
/* brightness亮度 */
.brightness {
	-webkit-filter: brightness(.5)
}
/* contrast对比度 */
.contrast {
	-webkit-filter: contrast(2)
}
/* blur模糊 */
.blur {
	-webkit-filter: blur(3px)
}
/* drop-shadow阴影 */
.drop-shadow {
	-webkit-filter: drop-shadow(5px 5px 5px #ccc)
}
.custom {
	-webkit-filter: saturate(5) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(1.5) invert(0.2) brightness(.9)
}